*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-primary;
	color: get-color(white);
	background-color: get-color(blue_700);
}

ol,
ul {
	@include nl;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	background: transparent;
	border: 0;
}

@for $i from 1 through 6 {
	h#{$i} {
		@include typo('h#{$i}');
	}
}

.divider {
	display: block;
	height: 1px;
	width: 100%;
	background-color: get-color(grey_500);
	position: relative;
}

.wrapper {
	overflow: hidden;
}