.container {
	max-width: 1328px;
	padding: 0 30px;
	margin: 0 auto;
	position: relative;

	@include breakpoint-m {
		padding: 0 15px;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	position: relative;

	&_v-center {
		align-items: center;
	}

	&_h-space-between {
		justify-content: space-between;
	}

	&_h-center {
		justify-content: center;
	}
}

.column {
	flex: 0 0 100%;
	max-width: 100%;
	position: relative;

	&_flex {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	@for $i from 1 through 12 {
		&_#{$i} {
			flex: 0 0 calc($i / 12 * 100%);
			max-width: calc($i / 12 * 100%);
		}
	}

	@for $i from 1 through 12 {
		@each $key, $value in $breakpoints {
			&_#{$key}-#{$i} {
				@media (max-width: $value) {
					flex: 0 0 calc($i / 12 * 100%);
					max-width: calc($i / 12 * 100%);
				}
			}
		}
	}
}