// Основные
$font-primary: Arial, sans-serif;
$hover-opacity: 0.7;

$colors: (
	white: #ffffff,
	black: #191919,
	orange: #FF8562,

	grey_500: #979797,
	grey_300: #BDBDBD,
	grey_200: #CCCCCC,
	grey_100: #E1E1E1,

	purple_600: #6F3689,
	purple_500: #8836AE,

	blue_900: #120127,
	blue_700: #1E0044,
	blue_400: #4415FF,
	blue_200: #1573FF,

	yellow_700: #F7BA4B,
	yellow_500: #FDC949,
	yellow_400: #FFD262,
	yellow_300: #FFD773,
	yellow_200: #FFDA7D,
	yellow_100: #FFE193, 
);

$breakpoints: (
	xl: '1400px',
	l: '1000px',
	m: '768px',
	s: '576px',
);

$typo: (
	h1: (
		font: 700 65px / 70px $font-primary,
		letter-spacing: -3px,
		m: (
			font-size: 36px,
			line-height: 48px,
		)
	),
	h2: (
		font: 700 78px / 70px $font-primary,
		text-align: center,
		m: (
			font-size: 40px,
			line-height: 50px,
		)
	),
	h3: (
		font: 700 48px / 48px $font-primary,
		m: (
			font-size: 36px,
			line-height: 48px,
		),
		s: (
			font-size: 24px,
			line-height: 36px,
		)
	),
	h4: (
		font: 700 35px / 48px $font-primary,
		m: (
			font-size: 27px,
			line-heigth: 35px,
		)
	),
	h5: (
		font: 700 32px / 35px $font-primary,
		s: (
			font-size: 24px,
			line-height: 30px,
		),
	),
	p: (
    font: 400 16px / 27px $font-primary,
  ),
);

$icons: (
	vk: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='66' height='66' fill='none'%3E%3Crect width='66' height='66' fill='%231573FF' rx='33'/%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M32.292 40.393h1.642s.496-.05.749-.301c.233-.231.225-.664.225-.664s-.032-2.028.99-2.327c1.008-.294 2.302 1.96 3.674 2.827 1.037.656 1.825.512 1.825.512l3.668-.047s1.919-.109 1.009-1.498c-.075-.113-.53-1.027-2.727-2.905-2.3-1.965-1.992-1.647.779-5.046 1.687-2.07 2.361-3.334 2.15-3.875-.2-.516-1.441-.38-1.441-.38l-4.13.024s-.306-.038-.533.087c-.222.122-.365.408-.365.408s-.653 1.602-1.525 2.964c-1.839 2.875-2.574 3.027-2.874 2.848-.7-.416-.525-1.671-.525-2.563 0-2.786.459-3.947-.894-4.248-.449-.1-.779-.166-1.927-.176-1.473-.015-2.72.004-3.427.322-.47.212-.832.684-.611.711.273.034.891.154 1.219.564.423.53.408 1.72.408 1.72s.243 3.28-.568 3.688c-.556.279-1.32-.292-2.96-2.9a23.437 23.437 0 0 1-1.474-2.812s-.122-.276-.34-.424c-.265-.178-.635-.236-.635-.236l-3.924.024s-.589.015-.805.251c-.192.21-.015.644-.015.644s3.072 6.617 6.55 9.951c3.19 3.058 6.812 2.857 6.812 2.857Z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M18 26h29v15H18z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E"),
	location: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='29' fill='none'%3E%3Cpath fill='%23FDC949' d='M10.197 0C4.574 0 0 4.583 0 10.215c0 6.99 9.125 17.252 9.514 17.685a.917.917 0 0 0 1.366 0c.39-.433 9.514-10.695 9.514-17.685C20.394 4.583 15.82 0 10.197 0Zm0 15.354c-2.829 0-5.13-2.306-5.13-5.139 0-2.834 2.301-5.14 5.13-5.14 2.829 0 5.13 2.306 5.13 5.14 0 2.833-2.301 5.139-5.13 5.139Z'/%3E%3C/svg%3E"),
);

// header 
$header-height-mobile: 84px;