.button {
	&s {
		display: flex;
		gap: 12px;
		position: relative;
	}

	@include hover-opacity;

	cursor: pointer;
	text-align: center;

	&_yellow {
		font: 700 20px / 31px $font-primary;
		color: get-color(black);
		background-color: get-color(yellow_400);
		border-radius: 100px;
		padding: 23px 30px;

		@include breakpoint-m {
			font-size: 16px;
			line-height: 24px;
			padding: 12px;
		}
	}

	&_header {
		font-size: 22px;
		padding: 15px 35px;
		border-radius: 10px;

		@include breakpoint-l {
			font-size: 18px;
			padding: 9px 15px;
		}
	}
}