.cards {
	margin-bottom: 280px;

	@include breakpoint-l {
		margin-bottom: 80px;
	}

	.container {
		padding-right: calc(50px + 30px);

		@include breakpoint-l {
			padding-right: 30px;
		}
	}

	.tokens {
		margin-bottom: 35px;
	}

	h2 {
		margin-bottom: 28px;
	}

	&__container {
		margin-top: 35px;
		display: flex;
		row-gap: 10px;
		column-gap: 15px;
		flex-wrap: wrap;
		position: relative;

		@include breakpoint-m {
			flex-direction: column;
		}
	}

	&__item {
		flex: 1 1 calc(50% - 7.5px);
		border-radius: 35px;
		background-color: get-color(purple_500);
		padding: 34px 64px 54px;
		position: relative;

		@include breakpoint-l {
			padding: 20px;
		}

		h5 {
			margin-bottom: 18px;
			max-width: 70%;
		}

		p {
			@include typo(p);

			max-width: 80%;
		}

		&-image {
			position: absolute;

			top: 15px;
			right: 15px;

			@include breakpoint-l {
				@include size(90px);
			}

			@include breakpoint-s {
				@include size(50px);

				top: 25px;
				right: 25px;
			}
		}

		&-decoration {
			position: absolute;
		}
	}

	&__images {
		@include size(350px, 400px);

		position: absolute;
		bottom: -180px;
		right: -100px;
		rotate: 90deg;

		@include breakpoint-l {
			rotate: 270deg;
		}

		@include breakpoint-m {
			@include size(250px, 300px);

			bottom: -120px;
		}
	}
}