.contact-us {
	padding: 30px 320px 50px 30px;
	background-color: get-color(purple_500);
	border-radius: 25px;
	position: relative;
	font-size: 20px;
	line-height: 29px;
	letter-spacing: 0.5px;

	@include breakpoint-m {
		padding-right: 20px;
		padding-bottom: 0;
		text-align: center;
		font-size: 16px;
		line-height: 20px;
	}

	img {
		position: absolute;
		right: 30px;
		top: 40%;
		transform: translateY(-50%);

		@include breakpoint-l {
			right: 0;
		}

		@include breakpoint-m {
			position: relative;
			transform: none;
			display: block;
			margin: 0 auto;
			margin-top: -20px;
			width: 100%;
			max-width: 290px;
		}
	}
}