.footer {
	$root: &;

	.container {
		&::before {
			@include size(290px);
			
			top: 30px;
			left: 100px;
			z-index: -1;
			filter: blur(150px);
		}
	}

	&__logo {
		margin-bottom: 70px;

		@include breakpoint-m {
			margin-bottom: 30px;
		}
	}

	&__contact {
		font-weight: 700;
		letter-spacing: -1.5px;

		@include breakpoint-m {
			text-align: center;
		}

		&-location {
			margin-bottom: 63px;
			font-size: 40px;
			line-height: 47px;

			@include breakpoint-l {
				font-size: 30px;
				line-height: 37px;
				margin-bottom: 33px;
			}

			@include breakpoint-s {
				font-size: 20px;
				line-height: 27px;
				margin-bottom: 20px;
			}
		}
	
		&-phone {
			margin-bottom: 47px;
			font-size: 54px;
			line-height: 60px;

			@include breakpoint-l {
				font-size: 40px;
				line-height: 50px;
				margin-bottom: 17px;
			}

			@include breakpoint-s {
				font-size: 26px;
				line-height: 30px;
				margin-bottom: 20px;
			}
		}
	
		&-mail {
			margin-bottom: 53px;
			font-size: 40px;
			line-height: 46px;

			@include breakpoint-l {
				font-size: 30px;
				line-height: 36px;
				margin-bottom: 23px;
			}

			@include breakpoint-s {
				font-size: 26px;
				line-height: 30px;
				margin-bottom: 30px;
			}
		}

		&-phone,
		&-mail {
			@include hover-opacity;

			display: block;
		}

		&-socials {
			@include breakpoint-m {
				justify-content: center;
			}
		}
	}

	&__images {
		@include size(86%);

		position: relative;
		margin: 64px 0 0 50px;
		padding: min(86%, 545px) 0 0;
		max-height: 545px;
		
		@include breakpoint-xl {
			margin-left: 30px;
		}
		
		@include breakpoint-l {
			max-height: 400px;
			margin-top: 70px;
		}
		
		@include breakpoint-m {
			display: none;
		}

		&-container {
			@include size(100%);

			position: relative;
		}

		&-primary,
		&-secondary,
		&-ternary {
			position: absolute;
		}

		&-primary {
			@include size(100%);
			
			top: 0;
			
			img {
				@include size(100%);

				object-fit: cover;
				position: relative;
			}

			#{$root}__images-container::before {
				@include size(394px);
			}
		}

		&-secondary {
			bottom: 73px;
			right: -64px;

			@include breakpoint-l {
				@include size(120px);

				right: -20px;
			}

			@include breakpoint-l {
				bottom: 50px;
			}

			span {
				position: absolute;
				width: 100%;
				text-align: center;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: block;
				font: 700 16px / 20px $font-primary;
				color: get-color(black);

				@include breakpoint-l {
					font-size: 14px;
				}
			}

			img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		&-ternary {
			@include size(100%);

			top: 0;

			img {
				@include make-yellow;
				
				position: absolute;

				&:first-child {
					@include size(77px);

					left: -19px;
					bottom: 124px;

					@include breakpoint-l {
						bottom: 90px;
					}
				}

				&:last-child {
					@include size(138px);

					top: 80px;
					right: -64px;

					@include breakpoint-xl {
						@include size(100px);
					}

					@include breakpoint-l {
						@include size(80px);

						right: -50px;
						top: 40px;
					}
				}
			}
		}
 	}

	&__company-info {
		text-align: center;
		margin: 40px 0 18px;

		@include breakpoint-m {
			margin-top: 20px;
		}

		@include breakpoint-s {
			margin-top: 10px;
			font-size: 12px;
		}
	}

	&__link {
		&s {
			margin: 22px 0 26px;
			display: flex;
			justify-content: space-between;
			max-width: 1160px;
			gap: 10px;
			
			@include breakpoint-s {
				flex-direction: column;
			}
		}

		@include hover-opacity;

		@include breakpoint-l {
			font-size: 14px;
		}
	}
}