.gradient {
	$root: &;

	&::before {
		@include pseudo;
	
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		filter: blur(100px);
	}
	
	&_blue::before {
		background: get-color(blue_400);
	}
}