.intro {
	padding: 50px 0 50px;

	.container {
		padding-right: calc(53px + 30px);

		@include breakpoint-l {
			padding-right: 30px;
		}
	}

	h1 { 
		max-width: 490px;
		margin: 50px 0;

		@include breakpoint-l {
			text-align: center;
			max-width: 100%;
			margin-top: 0;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		position: relative;
		z-index: 1;

		@include breakpoint-l {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}

		> :first-child {
			max-width: 390px;

			@include breakpoint-l {
				max-width: 100%;
			}
		}

		> :last-child {
			max-width: 370px;

			@include breakpoint-l {
				max-width: 100%;
			}
		}

		.tokens {
			&__item {
				flex-grow: 1;
				text-align: center;
			}
		}

		span {
			font-weight: 700;
			font-size: 32px;
			line-height: 30px;
		}
	}

	&__image {
		&-container {
			width: 121%;
			height: 100%;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;

			@include breakpoint-l {
				max-width: 100%;
			}

			@include breakpoint-m {
				max-height: 300px;
			}

			&.gradient::before {
				@include size(400px);

				left: 45%;
			}
		}

		max-width: 100%;
		max-height: 100%;
		object-fit: cover;
		position: relative;
		top: 0;
	}

	&__description {
		border-radius: 40px;
		background-color: get-color(blue_200);
		padding: 43px 50px 70px;
		margin: 86px 0 40px;
		position: relative;

		@include breakpoint-l {
			margin-top: 20px;
		}

		@include breakpoint-m {
			padding: 20px 40px;
		}

		.tokens {
			justify-content: flex-start;
			margin-bottom: 27px;
		}

		.row {
			row-gap: 0;
		}

		h3 {
			max-width: 410px;
			margin-bottom: 22px;

			@include breakpoint-l {
				max-width: 100%;

				br {
					display: none;
				}
			}
		}

		p {
			font: 700 22px / 34px $font-primary;
			padding-right: 20px;

			@include breakpoint-m {
				font-size: 16px;
				line-height: 24px;
				padding-right: 0;
			}
		}

		.column {
			&:nth-child(2) {
				order: 3;
			}
		}

		.rounded-images {
			margin-bottom: 17px;
		}

		&-images {
			img {
				position: absolute;

				&:nth-child(1) {
					@include size(82px);

					top: -29px;
					right: -26px;

					@include breakpoint-m {
						@include size(60px);

						top: -5px;
						right: -5px;
					}
				}

				&:nth-child(2) {
					@include size(180px);

					bottom: -80px;
					right: -90px;

					@include breakpoint-m {
						@include size(100px);

						bottom: -25px;
						right: -40px;
					}
				}

				&:nth-child(3) {
					@include size(98px);
					@include make-yellow;

					left: -32px;
					bottom: -38px;

					@include breakpoint-m {
						@include size(60px);

						left: -25px;
						bottom: -15px;
					}
				}
			}
		}
	}

	.button {
		&s {
			justify-content: center;
		}

		flex: 1 1 100%;
		max-width: 532px;
	}
}