.logo {
	@include hover-opacity;

	font: 700 30px / 79px $font-primary;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	column-gap: 17px;
	margin-right: 15px;
	position: relative;

	@include breakpoint-l {
		font-size: 20px;
		line-height: 30px;
	}

	@include breakpoint-m {
		width: fit-content;
		justify-content: center;
	}

	img {
		@include breakpoint-l {
			width: 60px;
		}
	}
}