.navigation {
	$root: &;

	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 69%;
	text-align: center;
	transition: all 0.3s;

	@include breakpoint-l {
		column-gap: 20px;
		justify-content: flex-end;
	}

	@include breakpoint-m {
		opacity: 0;
		position: fixed;
		top: calc($header-height-mobile);
		right: -100%;
		height: calc(100vh - $header-height-mobile);
		max-width: 100%;
		flex-direction: column;
		justify-content: flex-start;
		row-gap: 30px;
		padding-top: 30px;
		background-color: get-color(blue_700);
	}

	&_opened {
		opacity: 1;
		right: 0;
	}

	&__link {
		&s {
			font: 700 22px / 31px $font-primary;
			display: flex;
			justify-content: space-between;
			width: 65%;
			margin-right: 20px;

			@include breakpoint-l {
				font-size: 16px;
				line-height: 26px;
				margin: 0;
			}

			@include breakpoint-m {
				flex-direction: column;
				row-gap: 20px;
				margin: 0;
				width: 100%;
			}
		}

		@include hover-opacity;
	}

	&__fade {
		@include size(100%);
		
		display: none;

		@include breakpoint-m {
			display: block;
		}
	}

	&-controls {
		display: none;
		position: absolute;
		right: 15px;
		top: 50%;
		transform: translateY(-50%);

		@include breakpoint-m {
			display: block;
		}
	}

	&-button.button {
		@include size(20px, 30px);

		position: relative;
		padding: 0;

		&::before,
		&::after {
			@include pseudo;
		}

		&::before,
		&::after {
			height: 2px;
			width: 20px;
			background-color: get-color(yellow_100);
			transition: all 0.3s ease-in-out;
		}

		&::before {
			top: 10px;
			width: 15px;
			
			#{$root}_opened + #{$root}-controls & {
				width: 20px;
				top: 13px;
				transform: rotate(45deg);
			}
		}

		&::after {
			bottom: 10px;

			#{$root}_opened + #{$root}-controls & {
				bottom: 15px;
				transform: rotate(-45deg);
			}
		}
	}
}