.news {
	margin-bottom: 90px;
	position: relative;

	.tokens {
		margin-bottom: 40px;
	}

	h2 {
		margin-bottom: 30px;
		position: relative;
	}

	h4 {
		margin: 30px auto 38px;
		text-align: center;
		max-width: 86%;
		position: relative;
	}

	.row {
		row-gap: 30px;
	}

	&__card {
		&s {
			position: relative;
		}

		position: relative;
		max-width: 480px;
		padding-top: 69.3%;
		margin: 0 auto;
		overflow: hidden;
		border-radius: 20px;

		@include breakpoint-m {
			padding-top: 50%;
		}

		img {
			@include image-bg;
		}
	}

	&__images {
		@include size(100%);

		position: absolute;
		top: 0;
		left: 0;

		& > img,
		& > span {
			position: absolute;

			&:nth-child(1) {
				top: 280px;
				left: -70px;
				transform: scale(-1, 1);

				@include breakpoint-l {
					@include size(200px, 300px);

					left: 0;
				}
			}

			&:nth-child(2) {
				bottom: -60px;
				left: -70px;

				@include breakpoint-xl {
					bottom: 0;
				}

				@include breakpoint-m {
					transform: translateY(-50%);
				}

				img {
					position: relative;

					@include breakpoint-xl {
						@include size(360px);
					}
				}

				.gradient::before {
					@include size(100px);

					filter: blur(50px);
					z-index: 0;
				}
			}

			&:nth-child(3) {
				bottom: -80px;
				right: -15px;

				@include breakpoint-l {
					@include size(200px, 300px);

					bottom: -30px;
					right: 0;
				}

				@include breakpoint-m {
					transform: scale(-1, 1);
					bottom: -120px;
				}
			}
		}
	}
}