.organizer {
	margin-bottom: 80px;

	.tokens {
		margin-bottom: 40px;
	}

	h2 {
		margin-bottom: 30px;
		position: relative;
		z-index: 1;
	}

	.divider {
		margin-bottom: 85px;
		z-index: 1;
		
		@include breakpoint-l {
			margin-bottom: 50px;
		}
	}

	p:not([class*='card']) {
		font-size: 24px;
		line-height: 31px;
		position: relative;

		@include breakpoint-s {
			font-size: 18px;
			line-height: 24px;
		}

		& + p {
			margin-top: 17px;
		}
	}

	&__map {
		@include size(100%);

		display: flex;
		justify-content: center;
		align-items: center;

		img {
			position: absolute;
			top: -70px;
			left: -60px;
			object-fit: contain;
			max-width: 133%;

			@include breakpoint-l {
				top: 100px;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 80%;
				max-height: 400px;
			}
		}

		&-location {
			font-weight: 900;
			color: get-color(white);

			@include breakpoint-l {
				margin-bottom: 30px;
			}

			&::after {
				@include pseudo;
				@include size(20px, 28px);

				background-image: get-icon(location);
				right: -28px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	&__info {
		padding-right: 95px;
		color: get-color(grey_100);

		@include breakpoint-xl {
			padding-right: 0;
		}
	}

	&__card {
		&s {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 10px;
			margin-top: 95px;

			@include breakpoint-l {
				margin-top: 40px;
			}
		}
		
		position: relative;
		padding: 30px 40px 67px;
		max-width: 380px;
		flex: 1 0 33%;
		background-color: get-color(blue_200);
		border-radius: 35px;

		@include breakpoint-l {
			flex-basis: 100%;
		}

		&-title {
			font: 700 72px / 86px $font-primary;
			margin-bottom: 8px;
			padding-right: 50px;

			@include breakpoint-s {
				font-size: 50px;

				line-height: 60px;
			}
		}

		&-description {
			font-size: 24px;
			line-height: 30px;
		}

		img {
			@include size(56px);

			position: absolute;
			top: 25px;
			right: 32px;
		}
	}
}