.partners {
	margin-bottom: 76px;

	.container {
		padding: 0 calc(30px + 50px);

		@include breakpoint-l {
			padding: 0 30px;
		}

		@include breakpoint-m {
			padding: 0 15px;
		}
	}

	.tokens {
		position: absolute;
		top: 45px;

		@include breakpoint-l {
			position: relative;
			top: auto;
			margin-bottom: 30px;
		}
	}

	h2 {
		font: 400 147px / 110px $font-primary;
		letter-spacing: -6px;
		text-align: left;
		margin-bottom: 95px;
		position: relative;

		@include breakpoint-l {
			font-size: 80px;
			line-height: 88px;
			text-align: center;
			margin-bottom: 60px;
		}

		@include breakpoint-m {
			font-size: 48px;
			line-height: 56px;
			letter-spacing: -0.5px;
			margin-bottom: 30px;
		}

		span {
			display: block;
			text-align: right;

			@include breakpoint-l {
				display: inline;
			}
		}

		&::before {
			@include size(200px);

			filter: blur(100px);
			z-index: -1;
			top: auto;
			bottom: -120%;
			left: 45%;
		}
	}

	&__logo {
		$gap: 5px;

		&s {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			column-gap: $gap;
			row-gap: 10px;
			margin-bottom: 67px;
			position: relative;
		}

		border-radius: 25px;
		background-color: get-color(white);
		border: 1px solid get-color(grey_200);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		flex: 0 1 calc(20% - $gap * 4);
		min-width: 215px;
		min-height: 135px;

		@include breakpoint-s {
			min-width: 150px;
			min-height: 90px;
		}

		img {
			object-fit: contain;
			max-width: calc(100% - 10px);
			max-height: calc(100% - 10px);
		}
	}

	&__images {
		@include size(100%);

		position: absolute;
		left: 0;
		right: 0;

		img {
			@include make-yellow;
			@include size(138px);

			position: absolute;
			top: -30px;
			left: 290px;

			@include breakpoint-xl {
				@include size(90px);
			}

			@include breakpoint-l {
				left: 20px;
				top: 0;
			}

			@include breakpoint-m {
				@include size(60px);
			}
		}
	}
}