.participants {
	position: relative;
	margin-bottom: 60px;

	.tokens:not(#{&}__tokens) {
		position: absolute;
		left: 64px;
		top: 36px;

		@include breakpoint-m {
			position: relative;
			top: 0;
			left: 0;
			margin-top: 20px;
		}
	}

	h2 {
		margin: 26px auto 40px;
		padding: 0 150px;

		@include breakpoint-m {
			margin-top: 10px;
		}

		@include breakpoint-m {
			padding: 0;
		}
	}

	h5 {
		font-weight: 400;
		letter-spacing: 0.5px;

		@include breakpoint-l {
			font-size: 24px;
			line-height: 30px;
		}
	}

	.rounded-images {
		margin-bottom: 40px;

		@include breakpoint-m {
			justify-content: center;
			margin-bottom: 20px;
		}
	}

	&__description {
		color: get-color(yellow_400);
		padding-right: 10px;
	}

	&__info {
		color: get-color(grey_300);
	}

	br {
		@include breakpoint-m {
			display: none;
		}
	}

	.column {
		&:nth-child(2) {
			order: 3;

			@include breakpoint-m {
				order: 2;
			}
		}

		&:nth-child(3) {
			order: 2;

			@include breakpoint-m {
				order: 3;
			}
		}

		&:nth-child(4) {
			order: 4;
		}
	}

	&__tokens {
		margin-top: 30px;
		gap: 10px;
		margin-bottom: 50px;

		@include breakpoint-m {
			margin-bottom: 20px;
		}

		.tokens__item {
			height: fit-content;
			padding: 14px 16px;
			position: relative;

			@for $i from 2 through 3 {
				&:nth-child(#{$i}) {
					margin-top: calc(57px * #{$i - 1});

					@include breakpoint-l {
						margin-top: 0;
					}
				}
			}

			&::before {
				@include pseudo;
				
				border-style: solid;
				border-color: transparent get-color(blue_200) transparent transparent;
				border-width: 0 22px 23px 3px;
				bottom: 0;
				right: -13px;
				rotate: 192deg;
			}
		}
	}

	.button {
		&s {
			justify-content: center;
		}

		max-width: 924px;
		flex-grow: 1;
	}

	&__images {
		@include size(100%);

		position: absolute;
		top: 0;
		left: 0;

		img {
			@include make-yellow;

			position: absolute;

			&:first-child {
				@include size(130px);

				top: 36px;
				right: -20px;

				@include breakpoint-xl {
					right: 0;
				}

				@include breakpoint-l {
					@include size(90px);
				}

				@include breakpoint-m {
					@include size(45px);
				}
			}

			&:last-child {
				@include size(90px);

				bottom: 70px;
				left: -70px;

				@include breakpoint-xl {
					left: 0;
				}

				@include breakpoint-l {
					@include size(60px);
				}

				@include breakpoint-m {
					@include size(30px);
				}
			}
		}
	}
}