.rounded-images {
	$root: &;

	display: flex;

	&__item {
		border-radius: 50%;
		border: 3px solid;
		position: relative;
		overflow: hidden;

		&:not(:first-child) {
			margin-left: -30px;
		}

		#{$root}_white & {
			@include size(159px);

			border-color: get-color(white);
			flex: 0 0 159px;

			@include breakpoint-xl {
				@include size(140px);

				flex-basis: 140px;

				&:not(:first-child) {
					margin-left: -60px;
				}
			}

			@include breakpoint-s {
				@include size(70px);

				flex-basis: 70px;

				&:not(:first-child) {
					margin-left: -30px;
				}
			}
		}

		#{$root}_yellow & {
			@include size(145px);

			border-color: get-color(yellow_200);
			background-color: get-color(white);
			flex: 0 0 145px;
			
			@include breakpoint-xl {
				@include size(100px);

				flex: 0 0 100px;
			}

			&:not(:first-child) {
				margin-left: -30px;
			}
		}

		img {
			@include image-bg;
		}
	}
}