.socials {
	display: flex;
	gap: 15px;

	&__link {
		@include size(66px);
		@include hover-opacity;

		display: block;

		@include breakpoint-s {
			@include size(40px);
		}

		&_vk {
			background: get-icon(vk) center / contain no-repeat;
		}
	}
}