.tokens {
	$root: &;

	display: flex;
	gap: 8px;
	flex-wrap: wrap;
	justify-content: center;

	&__item {
		border-radius: 30px;
		padding: 17px;
		color: get-color(white);
		
		#{$root}_blue & {
			font-size: 20px;
			line-height: 27px;
			letter-spacing: 0.5px;
			background-color: get-color(blue_200);
		}

		#{$root}_white & {
			font-size: 18px;
			line-height: 28px;
			border: 1px solid get-color(white);
			padding: 12px 27px;
		}

		#{$root}_grey & {
			border: 1px solid get-color(grey_500);
		}
	}
}